/*  your css code here. If applicable */
{
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .box {
      width: 200px;
      height: 200px;
      background-color: lightblue;
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .box p {
      color: purple;
      font-size: 18px;
      margin: 0;
    }